* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul.menu {
  display: flex;
  gap: 30px;
  font-size: 17px;
  list-style: none;
  text-transform: uppercase;
}

body {
  background-color: #edeadd;
}

.navbar {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #262524;
  padding-right: 10%;
}

h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-style: italic;
  font-weight: lighter;
}

p,
h4,
h2 {
  font-family: "Noto Serif SC", serif;
}

h3 {
  font-family: "Noto Serif SC", serif;
}

.text-box {
  width: 95%;
  background-color: #a3b18a;
  margin: 20px auto;
  color: white;
  text-align: center;
}

.text-box p {
  margin: 0;
}

.smillaforside {
  font-size: 2rem;
}

.logo {
  padding-top: 20px;
}

.elementerne {
  width: 15%;
}

.elementer {
  display: flex;
  background-color: white;
  padding: 1%;
  border-radius: 69px;
  margin: 0 auto;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #262524;
}

a:hover {
  color: #a3b18a;
}

.mig_1 {
  height: auto;
  width: 50%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-right: 100px;
}

.container {
  text-align: center;
}

.main_container,
.main_container2 {
  flex: 1; /* Deler pladsen lige mellem de to containers */
}

.container,
.container2 {
  line-height: 5rem;
  color: #344e41;
}

.po {
  padding-left: 35%;
  font-size: 4rem;
}
.rt {
  padding-left: 40%;
  font-size: 4rem;
}
.fo {
  padding-left: 45%;
  font-size: 4rem;
}
.lio {
  padding-left: 50%;
  font-size: 4rem;
}

h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.lille_cirkel {
  background-image: url(imgs/cirkel.webp);
  background-repeat: no-repeat;
  background-position: 6rem;
  font-size: 2rem;
  background-size: 4rem;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.stor_cirkel {
  background-image: url(imgs/storcirkel.webp);
  background-repeat: no-repeat;
  background-position: 5rem;
  background-size: 6rem;
  padding-top: 31px;
  padding-left: 95px;
  padding-bottom: 4%;
  font-size: 2rem;
}

.double {
  background-image: url(imgs/double.webp);
  background-repeat: no-repeat;
  background-position: 5rem;
  padding-top: 52px;
  padding-bottom: 65px;
}

.double2 {
  background-image: url(imgs/double.webp);
  background-repeat: no-repeat;
  background-position: 5rem;
  padding-top: 53px;
  padding-bottom: 44px;
  padding-left: 4rem;
}

.lille_cirkel2 {
  background-image: url(imgs/cirkel.webp);
  background-repeat: no-repeat;
  background-position: 5rem;
  padding-bottom: 10px;
  font-size: 6rem;
  padding-top: 5%;
}

.grid_cv {
  display: grid;
  padding: 5px;
  border-radius: 10px;
  gap: 2%;
  padding-bottom: 80px;
  padding-top: 0px;
}

.mainmobil {
  margin: 58px;
}

.job,
.fritid,
.uddannelse,
.udveksling {
  margin: 0 auto;
  background: linear-gradient(to right, #a3b18a, #dad7cd);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 25px;
  box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
}

.smillacv {
  line-height: 0.5rem;
}

#smilla {
  width: 80%;
  border-radius: 8%;
}

.ommig {
  padding-top: 5%;
  padding-bottom: 15%;
}

.temaer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12%;
  margin: 60px;
}

.temabox {
  margin: 0 auto;
  background: linear-gradient(to right, #a3b18a, #dad7cd);
  border-radius: 50px;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 76px;
  box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
}

.grid_tema2 {
  display: grid;
  padding-top: 20px;
  background: linear-gradient(to right, #a3b18a, #dad7cd);
  border-radius: 70px;
  padding-top: 76px;
  padding-bottom: 76px;
  padding: 60px;
}
/* h3 {
  padding-top: 5%;
} */

.tema2pic,
.tema3pic,
.tema4pic,
.tema5pic {
  margin: 0 auto;
  border-radius: 4%;
  box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
  height: 90%;
}

.temabilleder {
  display: grid;
  padding-bottom: 15rem;
  padding-top: 5rem;
  gap: 2%;
}
.temabilleder2 {
  display: grid;
  padding-bottom: 12rem;
  padding-top: 5rem;
  gap: 2%;
}

.temafinal {
  padding-bottom: 10rem;
  padding-top: 5rem;
}

footer {
  background-color: #dad7cd;
  padding: 23px;
}

.tilbagepil {
  top: 10px;
  left: 20px;
  color: #333;
}

.tilbage {
  width: 5%;
}

.ul_liste {
  list-style: none;
}

@media (min-width: 800px) {
  ul.menu {
    display: flex;
    gap: 73px;
    font-size: 20px;
    list-style: none;
    padding-right: 60px;
    text-transform: uppercase;
  }

  .mig_1 {
    align-items: center;
    height: auto;
    width: 70%;
  }

  .main_containers {
    display: flex;
    flex-direction: row-reverse;
  }

  .main_container,
  .main_container2 {
    flex: 1; /* Deler pladsen lige mellem de to containers */
  }

  .container,
  .container2 {
    text-align: center;
    line-height: 6rem;
    color: #344e41;
  }

  .text-box {
    width: 100%;
    background-color: #a3b18a;
    margin: 20px auto;
    font-size: 2.5rem;
    color: white;
  }

  .text-box p {
    margin: 0;
  }

  main {
    margin: 58px;
  }

  .po {
    padding-left: 0%;
    font-size: 5rem;
  }
  .rt {
    padding-left: 10%;
    font-size: 5rem;
  }
  .fo {
    padding-left: 20%;
    font-size: 5rem;
  }
  .lio {
    padding-left: 30%;
    font-size: 5rem;
  }

  .grid_om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10rem;
  }

  .grid_cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 4%;
    padding-bottom: 80px;
    padding-top: 0px;
  }

  .lille_cirkel2 {
    background-image: url(imgs/cirkel.webp);
    background-repeat: no-repeat;
    background-position: 40rem;
    padding-bottom: 20px;
    font-size: 6rem;
    padding-top: 10%;
  }

  .lille_cirkel {
    background-image: url(imgs/cirkel.webp);
    background-repeat: no-repeat;
    background-position: 8rem;
  }

  .stor_cirkel {
    background-image: url(imgs/storcirkel.webp);
    background-repeat: no-repeat;
    background-position: 10rem;
    background-size: 8rem;
    padding-top: 31px;
    padding-left: 95px;
    padding-bottom: 4%;
  }

  .job,
  .fritid,
  .uddannelse,
  .udveksling {
    margin: 0 auto;
    background: linear-gradient(to right, #a3b18a, #dad7cd);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 25px;
  }

  .cv {
    text-align: center;
    padding-top: 5%;
  }

  .billedesmilla {
    grid-column: 3/5;
    grid-row: 1/3;
    margin: 0 auto;
  }

  .billedesmilla {
    text-align: center; /* Just in case the container needs to center the image horizontally */
  }

  #smilla2 {
    width: 70%;
  }

  .temaer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
    margin: 74px 250px;
    margin-bottom: 200px;
  }

  .website {
    width: 90%;
    margin: 15px auto;
    border-radius: 14%;
    filter: blur(2px);
    height: auto;
    display: block;
  }

  /* .tema2tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
  } */

  .temabox {
    margin: 0 auto;
    background: linear-gradient(to right, #a3b18a, #dad7cd);
    border-radius: 70px;
    text-align: center;
    padding-top: 76px;
    padding-bottom: 76px;
  }

  .grid_tema2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right, #a3b18a, #dad7cd);
    border-radius: 70px;
    padding-top: 76px;
    padding-bottom: 76px;
    padding: 60px;
  }

  .list,
  .tema2_p,
  .skills,
  .assignments {
    margin: 0 auto;
  }

  .screens {
    display: flex;
    gap: 20px;
  }

  .screen {
    width: 32%;
  }

  .temabilleder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 5rem;
    padding-bottom: 15rem;
  }

  .textvisit {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .visitdiv {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .visitwebdiv {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .dyrdiv {
    grid-column: 4/5;
    grid-row: 2/2;
  }

  .kodediv {
    grid-column: 3/4;
    grid-row: 2/2;
  }

  .temabilleder2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 5rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .boksediv {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .boksepic {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .gridpic {
    grid-column: 1/2;
    grid-row: 2/2;
  }

  .temafinal {
    padding: 10rem;
  }

  .temabilleder3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 5rem;
  }

  .tematre {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .temamood {
    grid-column: 4/5;
    grid-row: 2/2;
  }

  .temastory {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .temastyle {
    grid-column: 3/4;
    grid-row: 2/2;
  }

  .temaresearch {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .temabilleder4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 5rem;
    margin: none;
    padding-top: 10rem;
  }

  .tematekst1 {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .temasolu {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .temafinal {
    padding: 10rem;
  }

  .videosite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10%;
    gap: 5%;
  }

  .videoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 200px;
    gap: 3rem;
  }

  .martin1 {
    border-radius: 10%;
    box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .video2 {
    background-image: url(imgs/blur.webp);
    width: 100%;
    padding: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15%;
    height: 80%;
    box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
  }

  .videoview {
    background-image: url(imgs/blur22.webp);
    width: 100%;
    padding: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15%;
    height: 80%;
    box-shadow: 9px 8px 17px 0px rgba(0, 0, 0, 0.75);
  }
  .streg {
    width: 50%;
    margin: 0 auto;
  }
}
